[submodule "pd5/diligent-computing_Wong-T_Wu-E"]
	path = pd5/diligent-computing_Wong-T_Wu-E
	url = git@github.com:EdwinWu1423/diligent-computing.git


[submodule "pd5/A-maze-ing_Haiman-M_Wu-H"]
	path = pd5/A-maze-ing_Haiman-M_Wu-H
	url = https://github.com/huiminwu0/A-maze-ing.git

[submodule "pd5/georgia_Feeley-G_Li-A"]
	path = pd5/georgia_Feeley-G_Li-A
	url = git@github.com:angela1465/georgia.git



[submodule "pd5/OverOurHeads_0Berman-W_1Nissenbaum-C"]
	path = pd5/OverOurHeads_0Berman-W_1Nissenbaum-C
	url = git@github.com:cnissenbaum2019/OverOurHeads_0Berman-W_1Nissenbaum-C.git
[submodule "pd6/TheShendallProject_Kendall-M_Shen-B"]
	path = pd6/TheShendallProject_Kendall-M_Shen-B
	url = git@github.com:MKendall17/The-Shendall-Project.git
[submodule "pd5/TeammaeT_Keriazis-D_Zhang-L"]
	path = pd5/TeammaeT_Keriazis-D_Zhang-L
url = git@github.com:stuyvesant-cs/mazeRepoOfHoldingHolmes.git[submodule "pd6/WuWongClan_Wong-R_Wu-J"]
	path = pd6/WuWongClan_Wong-R_Wu-J
	url = git@github.com:Rachel-W3/WuWongClan_Wong-R_Wu-J.git
[submodule "pd6/Maze-Runner_Ming-M_Onishi-R"]
	path = pd6/Maze-Runner_Ming-M_Onishi-R
	url = git@github.com:ronishi1/Maze-Runner.git
[submodule "pd6/Keys-to-Success_Bushra-L_Leung-A"]
	path = pd6/Keys-to-Success_Bushra-L_Leung-A
	url = https://github.com/austin-leung/Keys-to-Success
[submodule "pd7/TangyBahanna_Tang-M_Yang-H"]
	path = pd7/TangyBahanna_Tang-M_Yang-H
	url = git@github.com:tangym27/TangyBahanna.git
[submodule "pd6/Pineapple-Pizza_Lee-B_Mai-E"]
	path = pd6/Pineapple-Pizza_Lee-B_Mai-E
	url = git@github.com:emai1/Pineapple-Pizza.git
[submodule "pd6/MeowMaze_Chi-V_Zhang-E"]
	path = pd6/MeowMaze_Chi-V_Zhang-E
	url = git@github.com:vchi90/MeowMaze.git
[submodule "pd6/SenioritisIsAMyth_Lin-H_Yang-M"]
	path = pd6/SenioritisIsAMyth_Lin-H_Yang-M
	url = git@github.com:hlin8/SenioritisIsAMyth_Lin-H_Yang-M.git
[submodule "pd7/Hedgemony_Lopez-J_Ramos-S"]
	path = pd7/Hedgemony_Lopez-J_Ramos-S
	url = git@github.com:JonasLopez/Hedgemony.git
[submodule "pd7/ReadyToRumble_Lee-Y_Mai-J"]
	path = pd7/ReadyToRumble_Lee-Y_Mai-J
	url = git@github.com:jmai28/ReadyToRumble.git
[submodule "pd5/LordOfTheRingsReference_He-H_Luo-X"]
	path = pd5/LordOfTheRingsReference_He-H_Luo-X
	url = git@github.com:henryhe320/LordOfTheRingsReference.git
[submodule "pd5/FMRadioMazeSolver_Mai-M_Tabassum-F"]
	path = pd5/FMRadioMazeSolver_Mai-M_Tabassum-F
	url = git@github.com:fareeha09/FMRadioMazeSolver.git
[submodule "pd5/MazeRunners_Dong-B_Wong-C"]
	path = pd5/MazeRunners_Dong-B_Wong-C
	url = git@github.com:chaktim/Maze-Runners.git
[submodule "pd5/maize_puns_r_corny-Lu_J-Sapelyuk_E"]
	path = pd5/maize_puns_r_corny-Lu_J-Sapelyuk_E
	url = git@github.com:JackLu1/maize-puns-r-corny.git
[submodule "pd7/Purple-Boomerang-Profreshers_Flores-K_Jang-Y"]
	path = pd7/Purple-Boomerang-Profreshers_Flores-K_Jang-Y
	url = git@github.com:Yeonhova/Purple-Boomerang-Profreshers.git
[submodule "pd6/lush-liquid_Melendez-A_Ye-M"]
	path = pd6/lush-liquid_Melendez-A_Ye-M
	url = git@github.com:michaellikaiye/lush-liquid.git
[submodule "pd6/CheesePooves_Gulsen-E_Lee-T"]
	path = pd6/CheesePooves_Gulsen-E_Lee-T
	url = git@github.com:tlee8/cheesePooves.git
[submodule "pd6/Daedalus-Labyrinth_McGillis-C_Soo-A"]
	path = pd6/Daedalus-Labyrinth_McGillis-C_Soo-A
	url = git@github.com:claremcgillis/Daedalus-Labyrinth.git
[submodule "pd7/eggs_Cheung-J_Liao-J"]
	path = pd7/eggs_Cheung-J_Liao-J
	url = git@github.com:joyceliaoo/eggs.git
[submodule "pd7/MazeRunners_YinOn-C_Alex-L"]
	path = pd7/MazeRunners_YinOn-C_Alex-L
	url = git@github.com:alexliu4/MazeRunners.git
[submodule "pd7/Insert-Project-Name-Here_Scheinberg-R_Zhao-W"]
	path = pd7/Insert-Project-Name-Here_Scheinberg-R_Zhao-W
	url = git@github.com:rscheinberg/Insert-Project-Name-Here.git
[submodule "pd6/MazeSolver_Ohno-Y_Singer-J_Winter-M"]
	path = pd6/MazeSolver_Ohno-Y_Singer-J_Winter-M
	url = git@github.com:jesings/MazeSolver.git
[submodule "pd7/MazeRunner_Chan-D_Liu-A"]
	path = pd7/MazeRunner_Chan-D_Liu-A
	url = git@github.com:alexliu4/MazeRunners.git
[submodule "pd6/BlackDogs_Bamba-S_Mak-D"]
	path = pd6/BlackDogs_Bamba-S_Mak-D
	url = git@github.com:dtmak1/BlackDogs.git
[submodule "pd7/CheesyBusiness_Brydon-M_Yuan-J"]
	path = pd7/CheesyBusiness_Brydon-M_Yuan-J
	url = git@github.com:jyuan5/CheesyBusiness_Brydon-M_Yuan-J.git
[submodule "pd7/MazeEscalator_Asch-J_Sahbani-A"]
	path = pd7/MazeEscalator_Asch-J_Sahbani-A
	url = git@github.com:AymenSahbani/maze-escalator.git
[submodule "pd6/Literally-Anything_Jeremy-C_Jiajie_M"]
	path = pd6/Literally-Anything_Jeremy-C_Jiajie_M
	url = git@github.com:JeremyC497/Literally-Anything.git
[submodule "pd5/semicolons_Chan-H_Jamal-T"]
	path = pd5/semicolons_Chan-H_Jamal-T
	url = git@github.com:helenchan01/semicolons.git
[submodule "pd5/TeammaeT_Keriazis-D_Zhang-L"]
	path = pd5/TeammaeT_Keriazis-D_Zhang-L
	url = git@github.com:stuyvesant-cs/mazeRepoOfHoldingHolmes.git
